#head{
    height: 60px;
    background-color: salmon;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_head{
    display: flex;
    justify-content: space-around;

}
.head_left a{
    text-decoration: none;
    line-height: 60px;
    margin: 15px;
    color: black;
}
.head_left a:hover{
    text-decoration: none;
    line-height: 60px;
    margin: 15px;
    color: brown;
    
    
}
.head_right input{
    padding: 8px;
    margin-top: 10px;
    border-radius: 500px;
}
#body_left img{
    width: 20px;
}
.main_card{
    display: flex;
    margin: 10px;
}
.cardPhim img{
    width: 200px;

}
.cardPhim{
    margin: 10px;
}
.main_card p{
    color: beige;
}
.body_left img{
    width: 200px;
}
.body_left{
    display: flex;
    margin: 20px;
}
.congThanh{
    margin: 10px;
}
.main_card{
    width: 200px;

}




